{% extends "base.html" %} 
{% block content %}


<div class="container text-center my-5">
  <h1>{{ title }}</h1>
</div>

<div class="container text-center my-5">
  <a class="btn btn-success" href="{% url 'exercises:exercise_create'%}">
    Add Exercise
  </a>
</div>

<ul>
{% regroup exercises by tier as tier_list %}
{% for tier in tier_list %}
  <li>{{ tier.grouper }}
    <ul>
      {% for exercise in tier.list  %}
        <li>{{ exercise.name }}</li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>


<div class="text-center mb-3">
  <a href="{% url 'routines:wo_readiness_create' %}">Create Workout</a>
</div>


{% endblock content %}