{% extends "base.html" %} 
{% block content %}


<div class="container text-center my-5">
  <h1>{{ title }}</h1>
</div>

<div class="container text-center my-5">

    <a href="{% url 'exercises:exercise_create' %}" class="btn btn-primary mb-5">Add Exercise</a>

    {% for o in object_list %}
      <h5>{{ o }}</h5>
   
      <div class="row d-flex justify-content-center mt-3">
        {% for e in o.exercise_set.all %}
          <div class="col-sm-12 col-md-6 gy-2">
            {{ e }}
          </div>
        {% endfor %}
      </div>

    <hr>
    {% endfor %}

</div>

<div class="text-center mb-3">
  <a href="{% url 'routines:wo_readiness_create' %}">Create Workout</a>
</div>


{% endblock content %}