{% if user.is_authenticated %}


<li class="nav-item">
  <form id="logoutForm" action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
      Log out
    </a>
  </form>
</li>

{% else %}


<li class="nav-item">
  <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
</li>

{% endif %}
