{% extends "base.html" %} 
{% block content %}


<div class="container text-center my-5">
  <h1>{{ title }}</h1>
</div>

<div class="text-center mb-3">
  <a href="{% url 'routines:workout_create' %}">Create New Workout</a>
</div>


<div class="container my-5">
  <ul>
    {% for o in object_list %}

      <div class="row d-flex justify-content-between align-items-center">

        <div class="col-9">
          <a href="{% url 'routines:workout_item_list' o.pk %}"> {{o}} </a>
        </div>

        <div class="col-3">

          <div class="row py-1">
            <a class="btn btn-outline-primary" href="{% url 'routines:workout_update' o.pk %}">Rename</a>
          </div>

          <div class="row py-1">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteWorkoutModal{{o.id}}">X</button>
          </div>

        </div>
      </div> 
      
      <hr>
      {% include 'routines/utils/workout_delete_modal.html' %}
    {% endfor %}
  </ul>
</div>




{% endblock content %}