{% extends 'base.html' %}

{% block content %}

  <h2>{{ title }}</h2>

  <form method="post" id="workoutItemForm" data-exercises-url="{% url 'routines:ajax_load_exercises' %}" novalidate>
    {% csrf_token %}
    <table class="mb-3">
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-outline-primary mt-2">Add to workout</button>
  </form>

  <div class="text-center my-3">
    <a href="{% url 'routines:workout_exercise_list' object.id %}">Back to this Workout</a>
  </div>


{% endblock %}