{% extends "base.html" %} 
{% block content %}


<div class="container text-center my-5">
  <h1>{{ object }}</h1>
</div>

<div class="container text-center my-5">
  <h3>Readiness - {{ object.readiness }}</h3>
</div>

<div id="exercise_list">
  {% for object in object_list %}
    {% include 'routines/workout_exercise/_detail.html' %}
  {% endfor %}
</div>

<div id="addList"></div>

<div class="row justify-content-center">
  <button
    type="button"
    class="btn btn-warning"
    hx-get="{% url 'routines:workout_exercise_create' object.id %}"
    hx-target="#addList"
    hx-swap="beforeend"
    >
    Add Exercise
  </button>
</div>

{% include 'routines/workout_exercise/_delete_workout_modal.html' %}

{% endblock content %}