{% load static %}

{% if workout_exercise_set %}

<div hx-target="this" hx-swap="outerHTML">
  <form
    method="POST"
  >
  {% csrf_token %}
    <div class="row align-items-center my-3">

      <div class="col-3">
        {{ form.weight }}
      </div>
      <div class="col-2">
        {{ form.reps }}
      </div>
      <div class="col-2">
        {{ form.rir }}
      </div>
      <div class="col-2">
        <button
          type="submit"
          hx-post="{% url 'routines:wo_ex_set_update' workout_exercise_set.id %}"
          class="btn btn-outline-primary mt-2">
          Add
        </button>
      </div>
      <div class="col-3">
        <button
          type="button"
          hx-get="{% url 'routines:wo_ex_set_detail' workout_exercise_set.id %}"
          class="btn btn-outline-danger mt-2">
          X
        </button>
      </div>

    </div>
  </form>
</div>

{% else %}

<div hx-target="this" hx-swap="outerHTML" id="createForm">
  <form
    method="POST"
  >
  {% csrf_token %}
    <div class="row align-items-center my-3">

      <div class="col-3">
        {{ form.weight }}
      </div>
      <div class="col-2">
        {{ form.reps }}
      </div>
      <div class="col-2">
        {{ form.rir }}
      </div>
      <div class="col-2">
        <button
          type="submit"
          hx-post="{% url 'routines:wo_ex_set_create' object.id %}"
          class="btn btn-outline-primary mt-2">
          Add
        </button>
      </div>
      <div class="col-1">
        <button
          type="button"
          id="clearItemCreateForm"
          class="btn btn-outline-danger mt-2"
          onclick="clearContent('createForm')"
          >
          X
        </button>
      </div>

    </div>
  </form>
  <hr>
</div>

{% endif %}


<script src="{% static 'js/script.js' %}"></script>