{% extends "base.html" %} 
{% block content %}


<div class="container text-center my-5">
  <h1>{{ object }}</h1>
</div>


{% for object in object_list %}
  {% include 'routines/workout_exercise_set/_detail.html' %}
  <hr>
{% endfor %}

<div id="addList"></div>

<div class="row justify-content-center">
  <button
    type="button"
    class="btn btn-warning"
    hx-get="{% url 'routines:wo_ex_set_create' object.id %}"
    hx-target="#addList"
    hx-swap="beforeend"
    >
    Add Set
  </button>
</div>
 
<div class="container my-3 text-center">
  <a href="{% url 'routines:workout_exercise_list' object.workout.id %}">Back to all exercises</a>
</div>

{% endblock content %}