{% extends "base.html" %} 
{% block content %}


<div class="container text-center my-5">
  <h1>{{ title }}</h1>
</div>


<a href="{% url 'routines:wo_readiness_create' %}" class="btn btn-large btn-success">Create New Workout</a>


<div class="container my-5">
  <ul>
    {% for o in object_list %}

      <div class="row d-flex justify-content-between align-items-center">

        <div class="col-10">
          <a href="{% url 'routines:workout_exercise_list' o.pk %}"> {{o}} - Active: {{ o.is_active }} </a>
        </div>

        {% if o.is_active %}
        <div class="col-2">
          <div class="row">
            <button type="button" 
              class="btn btn-outline-danger" 
              data-bs-toggle="modal" 
              data-bs-target="#deleteModal{{o.id}}">
              X
            </button>
          </div>
        </div>
        {% endif %}

      </div> 
      
      <hr>
      {% include 'routines/workout/_delete_modal.html' %}
    {% endfor %}
  </ul>
</div>




{% endblock content %}