

<nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark py-3">
  <div class="container" style="max-width:800px">
    <a href="{% url 'home' %}" class="navbar-brand text-decoration-none">
      GYM APP
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
        </li>

        {% include 'accounts/loginpartial.html' %}

      </ul>

      

    </div>
  </div>
</nav>