body {
    font-family: 'Montserrat', sans-serif;
  }
  
  body::before {
    display: block;
    content: "";
    height: 60px;
  }
  
  section {
    scroll-margin-top: 60px;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .nav-bar-brand a:hover {
    text-decoration: none;
  }
